@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);


html, body{
  height:100%;  
  width: 100%;
}

#background-img {
    height:100%;  
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-x:hidden; 
    background-image: url("http://farm7.static.flickr.com/6220/6347794781_358925ca7f_o.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
}

p {
    font-family: Titillium Web;
    font-size: 100%;
    text-align: center;
    margin-bottom: 50px;
}

img {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  width: 160px;
  height: 200px;  
  border-radius: 10px;
  object-fit: cover;

}

.clickDish {
  padding: 0px;
  margin: 10px;
  width: 170px;
  height: 300px;
}

.container{
  height:100%;
  width:100%;
  margin:0px;
  padding:0px;
  color: black;
}

.row{
  height: 100%; 
}

#left-column{
  background-color:white;
  border-left: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  height: 100%;
  width: 25%;
}

#right-content{
  height: 100%;
}

.page-title{
  height:100px;
  margin-bottom: 0px;
  width: 100%;
  margin-top: 0px;
  background: black;
  border-bottom: 2px solid;
  opacity: 0.9;
  font-family: Open Sans Condensed;
}

.page-title>h1{
  color: white;
  margin-left: 15px;
  text-transform: uppercase;
  font-family: Open Sans Condensed;
  font-size: 70px;
  margin-left: 15px;
}

.page-title>h1>small{
  color: white;
  margin-left: 20px;
  font-size: 25px;
  font-style: italic;
  text-transform: capitalize;
  font-family: Open Sans Condensed;
}

#welcomeBox{
  width: 400px;
  height: 350px;
  background-color: black;
  opacity: 0.8;
  color:white;
  margin-left: 50px;
}

#welcomeBox>h2{
    font-size: 25px;
  text-align: center;
  padding-top: 40px;
}
 .line-separator{
    height: 1px;
    width:300px;
    margin-bottom: 20px;
    margin-left: 50px;  
    overflow: hidden;
    background-color: white;
}

.yellowButton {
  background-color: grey;
  font-size: 16pt;
  font-family: Titillium Web;
  box-shadow: 3px 3px 2px black;
  border: 2px solid black;
  width: 200px;
  height: auto;
  margin-left: 50px;
}

#welcomeScreen{
  margin: auto;
  height: 100%;
  width: 100%;
}

#welcomeBox{
  width: 400px;
  height: 350px;
  background-color: black;
  opacity: 0.8;
  color:white;
  margin-left: 50px;
}

#welcomeBox>h2{
    font-size: 25px;
  text-align: center;
  padding-top: 40px;
}


 .line-separator{
    height: 1px;
    width:300px;
    margin-bottom: 20px;
    margin-left: 50px;  
    overflow: hidden;
    background-color: white;
}

.menu-table{
  margin-top:100px;
}

.menu-table th{
  color: black;
  background-color: white;
  border-color: black;
}

.number-of-guests{
  padding:0px;
}


h2 {
  font-family: Titillium Web;
}

#ingredientList {
  background: #FED766;
  border-style: solid;
  border-width: 5px;
  padding: 20px;
  width: auto;
}

.myDinnerList {
   background: #FED766;
   height: 50px;
   font-size: 30px;
   line-height: 50px;
   font-family: Titillium Web;
   vertical-align: center;
   padding-left: 20px;
}

#totalCost {
  text-align: right;
  font-size: 200%;
  margin-left: 100px;
}

/*#costSummary {
  margin-top: 100px;
}*/

.allCostDishes {
  padding:40px;
  vertical-align:bottom; 
}

.cost {
  color: red;
}

#dish {
  vertical-align:center; 
}




